<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Conteúdo do meu site.">
    <meta name="keyword" content="palavras, separadas, por, vígula">
    <meta name="author" content="Yan César"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">    
    <title>BBC Personalizados</title>
    <link rel="stylesheet" href="compra.css">
</head>
<body>
    <section class="secition-01">
        <div class="container">
            <div class="container-01">
                <div class="infos-01">
                    <p>frete grátis acima de R$ 0.00</p>
                </div>
                <div class="infos-02">
                    <p>Contatos</p>
                    <a href="https://www.instagram.com/bbc_personalizados/"><img src="instargram.png" alt="Logo do instargram"></a>
                    <a href="#"><img src="whatsapp.png" alt="Logo do whatsapp"></a>
                </div>
            </div>
            <header>
                <div class="commerce">
                    <a href="pedidos.html">meus pedidos</a>
                    
                    <img src="detective.png" alt="imagem search">
                </div>
                <img src="logo.png" alt="Imagem logo">
                <nav>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="#">canecas</a></li>
                    <li><a href="page-copos.html">Copos</a></li>
                    <li><a href="#">baldes</a></li>
                    <li><a href="#">tirantes</a></li>
                    <li><a href="#">Personalize seu produto</a></li>
                </nav>
            </header>
            <section class="top">
                <div class="main-top">
                    <a href="index-html">BBC Personalizados </a>
                    <p> / </p>
                    <a href="page-copos.html">Copos</a>
                </div>
            </section>
            <main>
                <div class="imagens1">
                    <div class="caneca1">
                        <img src="canecaFrente.png" alt="Imagem caneca">
                    </div>
                    <div class="caneca2">
                        <img src="canecaCosta.png" alt="Imagem caneca">
                    </div>
                </div>
                <div class="imagem2">
                    <img src="canecaFrente.jpeg" alt="Imagem caneca">
                </div>
                <div class="name-product">
                    <h2>caneca brilhante - 500 ml - São João codeúba - Roxa</h2>
                    <div class="name-descripition">
                        <p>Quentão, foguete, amizade, fogueira, melhor época do ano</p>
                    </div>
                    <p>por:</p>
                    <h3>R$ 29,99</h3>
                </div>
            </main>
            <section class="config">
                <div class="config">
                    <h3>tamanho</h3>
                    <select name="Tamanho" id="tamanho">
                        <option value="tamanho">300 ml</option>
                        <option value="tamanho">400 ml</option>
                        <option value="tamanho">700 ml</option>
                    </select>
                    <div class="frete">
                        <p>Calcule o frete</p>
                        <input type="zip-code" placeholder="Insira seu CEP">
                        <button>Calcular</button>
                    </div>
                </div>
                <div class="buy">
                    <button>comprar</button>
                </div>
            </section>
</body>
</html>