<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Conteúdo do meu site.">
    <meta name="keyword" content="palavras, separadas, por, vígula">
    <meta name="author" content="Yan César"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">    
    <title>BBC Personalizados</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="menu-moblie" id="menu">
        <div class="menu1">
            <img class="img-menu" src="/img/signs.png" alt="Imagem menu">
            <p>Menu</p>
        </div>
        <div id="menu-nav">
            <nav>
                <a href="index.html"><li>início</li></a>
                <a href=""><li>canecas</li></a>
                <a href="page-copos.html"><li>copos</li></a>
                <a href="#"><li>baldes</li></a>
                <a href="#"><li>tirantes</li></a>
                <a href="#"><li>personalize seu produto</li></a>
                <a href="pedidos.html"><li>meus pedidos</li></a>
            </nav>
        </div>
        
    </div>
    <section class="secition-01">
        <div class="container">
            <div class="container-01">
                <div class="infos-01">
                    <p>frete grátis acima de R$ 0.00</p>
                </div>
                <div class="infos-02">
                    <p>Contatos</p>
                    <a href="https://www.instagram.com/bbc_personalizados/"><img src="/img/instargram.png" alt="Logo do instargram"></a>
                    <a href="#"><img src="/img/whatsapp.png" alt="Logo do whatsapp"></a>
                </div>
            </div>
        </div>
        <div class="slider">
            <img src="/img/banner01.jpg" alt="Imagem banner 01">
            <img src="/img/banner02.jpg" alt="Imagem banner 02">
            <img src="/img/banner03.jpg" alt="Imagem banner 03">
        </div>
        <header class="main-header">
            <img class="img-logo" src="/img/logo.png" alt="imagem logo">
            <div class="menu">
                <nav>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">canecas</a></li>
                    <li><a href="/copos">Copos</a></li>
                    <li><a href="#">baldes</a></li>
                    <li><a href="#">tirantes</a></li>
                    <li><a href="#">Personalize seu produto</a></li>
                </nav>
            </div>
        <div class="commerce">
            <a href="pedidos.html"><p>meus pedidos</p></a>
            
            <div>
                <a href="search.html"><img src="/img/search.png" alt="Imagem Search"></a>
            </div> 
        </div>
        </header>
    </section>
    <main>
        <div class="name-title">
            <h1>canecas</h1>
        </div>
        <div class="grid-container">
            <div class="grid">
                <a href="#"><img src="/img/baldeFrente.jpeg" id="baldefrente"  alt="Imagem Caneca"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
            <div class="grid">
                <a href="#"><img src="/img/tirantes.jpeg" alt="Imagem Tirantes"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>

            </div>
            <div class="grid">
                <a href="#"><img src="/img/canecaFrente.jpeg" id="caneca" alt="Imagem baldes"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
           
        </div>
        <div class="name-title">
            <h1>tirantes</h1>
        </div>
        <div class="grid-container">
            <div class="grid">
                <a href="#"><img src="/img/caneca-01.jpeg" alt="Imagem Caneca"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
            <div class="grid">
                <a href="#"><img src="/img/tirantes.jpeg" alt="Imagem Tirantes"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
            <div class="grid">
                <a href="#"><img src="/img/baldes.jpeg"  alt="Imagem baldes"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
           
        </div>
        <div class="name-title">
            <h1>baldes</h1> 
        </div>
        <div class="grid-container">
            <div class="grid" >
                <a href="#"><img src="/img/caneca-01.jpeg" alt="Imagem Caneca"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
            <div class="grid" id="colums">
                <a href="#"><img src="/img/tirantes.jpeg" alt="Imagem Tirantes"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>  
            <div class="grid">
                <a href="#"><img src="/img/baldes.jpeg" alt="Imagem baldes"></a>
                <p>caneca 500ml</p>
                <p>R$ 29,99</p>
                <button>Comprar</button>
            </div>
        </div>
        <div class="container-descripition">
            <h1>sobre nós</h1>
            <div class="descripion">
                <div class="about-us">
                        <p>A Empresa BBC - PERSONALIZADOS está Situada em <strong>Condeúba - bahia.</strong></p>
                        <p>Entraremos no mercado nos dedicando ao máximo com produtos de alta qualidade e</p>
                        <p>requinte, A BBC - PERSONALIZADOS  tem orgulho e o compromisso de satisfazer seus</p>
                        <p>clientes oferecendo <strong>produtos de 1° linha.</strong></p>
                        <p>Você também pode utilizar as canecas para Festas como: <strong>casamentos, noivados,</strong></p>
                        <p><strong>aniversários, formaturas, micaretas</strong> e <strong>confraternizações</strong> em geral. Temos uma linha de</p>
                        <p>canecas especiais;  canecas coloridas (leitosas).</p>
                        <p>A BBC - PERSONALIZADOS  visa atender clientes exigentes e de extremo bom gosto</p>
                        <p>que valorizam <strong>PRAZO, PREÇO e QUALIDADE!</strong></p>
                    </div>
                <div class="map" id="mapa">
                
                
              
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="institution">
                <h3>nossa instituição</h3>
                <div><a href="#">Sobre nós</a></div>
                <div><a href="#">Fale conosco</a></div>
                <div><a href="#">Meus pedidos</a></div>
            </div>
            <div class="infos-store">
                <h3>informação</h3>
                <div><a href="#">Política de entrga</a></div>
                <div><a href="#">Política de troca</a></div>
                <div><a href="#">Política de privacidade</a></div>
            </div>
            <div class="attendance">
                <h3>atendimento</h3>
                    <div><a href="#">E-mail: contato@bbcpersonalizada.com</a></div>
                    <div><a href="#">whatsapp: 77 99178-2326</a></div>
                    <div><a href="#">Segunda a Sexta em horário comercial</a></div>
            </div>
            <div class="tips">
                <h3>Quer receber ofertas e dicas ?</h3>
               
                <input type="e-mail" placeholder="Digite seu e-mail">
                <a href="#"><button>ENVIAR</button></a> 
            </div>
        </div>
    </footer>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Z5vMc2EMBN2mitymQXpiDrghKxzOxr8"
  ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLM6LWqobYzvIvGGgeEHmjJL7ib9vpQUQ"></script>
    <script src="/script/jquery-3.5.1.min.js"></script>
    <script src="/script/bbcpersonalizados.js"></script>
    <script src="/script/bbcjq.js"></script>
</body>
</html>