<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Conteúdo do meu site.">
    <meta name="keyword" content="palavras, separadas, por, vígula">
    <meta name="author" content="Yan César"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">    
    <title>BBC Personalizados/copos</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="menu-moblie" id="menu">
        <div class="menu1">
            <a href="/"><img class="img-menu" src="/img/directional.png"  alt="Imagem menu"></a>
        </div>
    </div>
    <section class="secition-01">
        <div class="container">
            <div class="container-01">
                <div class="infos-01">
                    <p>frete grátis acima de R$ 0.00</p>
                </div>
                <div class="infos-02">
                    <p>Contatos</p>
                    <a href="https://www.instagram.com/bbc_personalizados/"><img src="/img/instargram.png" alt="Logo do instargram"></a>
                    <a href="#"><img src="/img/whatsapp.png" alt="Logo do whatsapp"></a>
                </div>
            </div>
            <div class="slider">
                <img src="/img/banner03.jpg" alt="Imagem banner 01">
            </div>    
            <header class="main-header">
                <a href="/"><img class="img-logo" src="/img/logo.png" alt="imagem logo"></a>
                <div class="menu">
                    <nav>
                        <li><a href="/">Início</a></li>
                        <li><a href="#">baldes</a></li>
                        <li><a href="#">canecas</a></li>
                        <li><a href="#">tirantes</a></li>
                        <li><a href="#">Personalize seu produto</a></li>
                    </nav>
                </div>
            <div class="decide-container">
                <div class="decide">
                    <select name="select" class="select-s" id="select">
                        <option class="opnion-s" value="cor">Cor</option>
                        <option class="opnion-s" value="cor">Preta</option>
                        <option class="opnion-s" value="cor">Azul</option>
                        <option class="opnion-s" value="cor">Vermelho</option>
                        <option class="opnion-s" value="cor">Verde</option>
                    </select>
                    <select name="select" class="select1-s" id="select1">
                        <option value="tamanho">Tamanho</option>
                        <option value="tamanho">300ml</option>
                        <option value="tamanho">500ml</option>
                        <option value="tamanho">700ml</option>
                    </select>
                </div>
            </div>
            </header>
            <main>
                <div class="name-title">
                    <h1>canecas</h1>
                </div>
                <div class="grid-container">
                    <div class="grid">
                        <a href="#"><img src="/img/baldeFrente.jpeg" id="baldefrente"  alt="Imagem Caneca"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                    <div class="grid">
                        <a href="#"><img src="/img/tirantes.jpeg" alt="Imagem Tirantes"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
        
                    </div>
                    <div class="grid">
                        <a href="#"><img src="/img/canecaFrente.jpeg" id="caneca" alt="Imagem baldes"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                   
                </div>
                <div class="name-title">
                    <h1>tirantes</h1>
                </div>
                <div class="grid-container">
                    <div class="grid">
                        <a href="#"><img src="/img/caneca-01.jpeg" alt="Imagem Caneca"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                    <div class="grid">
                        <a href="#"><img src="/img/tirantes.jpeg" alt="Imagem Tirantes"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                    <div class="grid">
                        <a href="#"><img src="/img/baldes.jpeg"  alt="Imagem baldes"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                   
                </div>
                <div class="name-title">
                    <h1>baldes</h1> 
                </div>
                <div class="grid-container">
                    <div class="grid" >
                        <a href="#"><img src="/img/caneca-01.jpeg" alt="Imagem Caneca"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                    <div class="grid" id="colums">
                        <a href="#"><img src="/img/tirantes.jpeg" alt="Imagem Tirantes"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>  
                    <div class="grid">
                        <a href="#"><img src="/img/baldes.jpeg" alt="Imagem baldes"></a>
                        <p>caneca 500ml</p>
                        <p>R$ 29,99</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </main>
            <footer>
                <div class="footer-container">
                    <div class="institution">
                        <h3>nossa instituição</h3>
                        <div><a href="#">Sobre nós</a></div>
                        <div><a href="#">Fale conosco</a></div>
                        <div><a href="#">Meus pedidos</a></div>
                    </div>
                    <div class="infos-store">
                        <h3>informação</h3>
                        <div><a href="#">Política de entrga</a></div>
                        <div><a href="#">Política de troca</a></div>
                        <div><a href="#">Política de privacidade</a></div>
                    </div>
                    <div class="attendance">
                        <h3>atendimento</h3>
                            <div><a href="#">E-mail: contato@bbcpersonalizada.com</a></div>
                            <div><a href="#">whatsapp: 77 99178-2326</a></div>
                            <div><a href="#">Segunda a Sexta em horário comercial</a></div>
                    </div>
                    <div class="tips">
                        <h3>Quer receber ofertas e dicas ?</h3>
                       
                        <input type="e-mail" placeholder="Digite seu e-mail">
                        <a href="#"><button>ENVIAR</button></a> 
                    </div>
                </div>
            </footer>
            <script src=" bbcjq.js"></script>
       <script src="/script/jquery-3.5.1.min.js"></script>     
</body>
</html>