<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Conteúdo do meu site.">
    <meta name="keyword" content="palavras, separadas, por, vígula">
    <meta name="author" content="Yan César"/>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="search.css">
    <title>BBC Seach</title>
</head>
<body>
    <section>
        <div class="close">
            <a href="index.html"><img src="close.png" alt="imagem fechar"></a>
        </div>
    </section>
    <section class="section-01">
        <div class="search">
            <input type="search" placeholder="Procure por aqui">
            <button>Buscar</button>
        </div>
    </section>
   
</body>
</html>